<section *ngIf="projects?.length>0; else empty">
  <table mat-table
         [dataSource]="projects">

    <ng-container matColumnDef="identificador">
      <th mat-header-cell
          *matHeaderCellDef> Identificador </th>
      <td mat-cell
          *matCellDef="let p"> {{p.id}} </td>
    </ng-container>

    <ng-container matColumnDef="nombre">
      <th mat-header-cell
          *matHeaderCellDef> Nombre </th>
      <td mat-cell
          *matCellDef="let p"> {{p.name}} </td>
    </ng-container>

    <ng-container matColumnDef="ver">
      <th mat-header-cell
          *matHeaderCellDef> Ver </th>
      <td mat-cell
          *matCellDef="let p"><a routerLink="/projects/{{ p.id }}"
           class="table-option"
           aria-label="Visualiza este proyecto"
           href="javascript:void(0)">
          <mat-icon>search</mat-icon>
        </a>
      </td>
    </ng-container>
    <ng-container matColumnDef="borrar">
      <th mat-header-cell
          *matHeaderCellDef> Borrar </th>
      <td mat-cell
          *matCellDef="let p"><a class="table-option"
           aria-label="Borra este proyecto"
           href="javascript:void(0)"
           (click)="delete.emit(p.id)">
          <mat-icon>delete_forever</mat-icon>
        </a>
      </td>
    </ng-container>

    <tr mat-header-row
        *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row
        *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</section>



<ng-template #empty>
  <p><i>Todavía no existen proyectos</i></p>
</ng-template>

<br />

<button mat-raised-button
        routerLink="/projects/new"
        type="submit"><span class="icon-link"></span>Nuevo Proyecto</button>
